@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif:wght@400;700&family=Poppins&display=swap');

* {
    margin: 0;
    padding:0; 
}
.container{ 
    padding: 70px 15px 30px 15px;
    min-height: 1200px;
    position: relative; 
}
.title {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size:36px;
    letter-spacing: -0.1rem;
}
.description{
    font-family: Poppins, sans-serif;
    padding-top: 2.9rem;
    padding-bottom: 3.5rem;
    h2{
        text-transform: uppercase; 
        font-weight:600;
        font-size:18px;
    }
    p{
        font-size: 14px;
        padding-right: 20px;
        padding-top: 10px; 
    }
}
.members{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    .member{
        min-height: 280px;
        display: flex; 
        flex-direction: column;
        &:nth-child(even){
            justify-content: flex-end;
        } 
        img{
            width:140px; 
         }
        .job-title {
            writing-mode: vertical-rl;
            float: right;
            text-transform:uppercase;
            font-family: 'PT Serif', serif;
            font-size:10px;
            margin-left: 5px;
        }
        .name{
            font-family: 'Poppins', sans-serif;
            font-size:14px; 
            font-weight: 600;
        }
    }  
}
footer{ 
    position: absolute; 
    bottom: 25px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px; 
    color: #A9A9A9;
    text-align:center;
    a{
        color:#A9A9A9;
        font-weight: 700;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 950px;
        margin-right: auto;
        margin-left: auto; 
    }
    .text {
        display: flex; 
        .title {
            flex-basis: 50%;
            padding-top: 2.8rem;
        }
        .description {
            flex-basis: 46%;
            padding-top: 2.8rem;
            p {
                font-size: 18px;
            }
        }
    }
    .members {
        padding-top: 2rem;
        padding-bottom: 7rem;
        .member {
            min-height: 500px;
            img{
                width:238px; 
             }
            .name {
                font-size: 18px;
            }
            .job-title{
                font-size: 12px;
            }
        }
        .member.up {
            justify-content: flex-start;
        } 
        .member.down {
            justify-content: flex-end;
        } 
    }
}